-# _form

= form_for @itinerary || Itinerary.new do |f|
 = f.label :name, I18n.t(:itinerary_name_field)
 = f.text_field :name
 = f.label :time, I18n.t(:itinerary_time_field)
 = f.text_field :time
 = f.label :description, I18n.t(:itinerary_description_field)
 = f.text_field :description
 = f.submit
