-# itineraries#index

- title "Маршруты"

- content_for :content do
 
 %table.table.table-hover
  %tbody
   - for itinerary in @itineraries do
    %tr
     %td
      -# Hours before start
      %span.glyphicon.glyphicon-time
      14 ч.
     %td
      -# Soon this will be replace by icon
      = itinerary.kind
     %td.itinerary_name
      = link_to itinerary.name, itinerary_path(itinerary)
     %td.del_form
      = link_to edit_itinerary_path(itinerary) do
       %span.glyphicon.glyphicon-pencil
      = link_to '&times;'.html_safe, '#confirm', class: 'close delete-action', :'data-id' => "#{itinerary.id}", :'data-toggle' => 'modal'
   %tr
    %td#new-one{ colspan: '4' }
     = link_to new_itinerary_path do
      %span#add
       %span.glyphicon.glyphicon-plus
       Добавить маршрут или место

 -# Modal window
 #confirm.modal.fade{ tabindex: '-1', role: 'dialog', :'aria-labelledby' => "Confirm", :'aria-hidden' => 'true' }
  .modal-dialog
   .modal-content
    .modal-header
     %button.close{ type: 'button', :'aria-hidden' => 'true', :'data-dismiss' => 'modal' }
      &times;
     %h4.modal-title
      Подтвердите действие
    .modal-body
     %h2 Удалить?
    .modal-footer
     %button.btn.btn-default{ :'data-dismiss' => 'modal' }
      Нет
     %button#confirm-btn.btn.btn-primary
      -# Find me in itineraries.js.coffee
