-# itineraries#index

- title "Маршруты"

- content_for :content do
 %p Place a map here

- content_for :bar do
 = link_to "Создать маршрут", new_itinerary_path, class: 'btn btn-primary'

 %ul
  - for itinerary in @itineraries do
   %li
    %span.del_form
     = button_to "X", itinerary, data: {confirm: 'Удалить?'}, method: :delete
    %span.itinerary_name
     = link_to itinerary.name, edit_itinerary_path(itinerary)
    %span.itinerary_details
     = link_to "Подробнее", itinerary_path(itinerary)
    %span.itinerary_description= itinerary.description
