-# devise#new
= title('Вход')

- content_for :content do

  %h2 Вход

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div
      = f.label :login, 'Email'
      %br/
      = f.text_field :login, :autofocus => true
    %div
      = f.label :password, I18n.t(:pass_field)
      %br/
      = f.password_field :password
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me
        = f.label 'Запомнить меня на этом компьютере'
    %div= f.submit I18n.t(:sign_in_action)

  = render "devise/shared/links"
