!!! 5
%html{:lang => "ru"}
 %head

  %meta{:'http-equiv' => "Content-Type", :content => "text/html", :charset => "utf-8"}
  %title= "CityStop | #{content_for(:title)}"
  = favicon_link_tag 'favicon.ico'

  = stylesheet_link_tag    "application-all", :media => "all"
  /[if lte IE 9]
   = stylesheet_link_tag    "application-ie", :media => "all"

  = javascript_include_tag "application"
  = csrf_meta_tags

 %body

  .navbar.navbar-fixed-top
   .navbar-inner
    .container-fluid
     =image_tag 'logo.png', size: '35x35', id: 'logo'
     =link_to "CityStop", root_path, class: 'brand'

     -if user_signed_in?
      %ul#head-nav.nav
       %li
        =link_to 'Карта'
       %li
        =link_to 'Мои маршруты', itineraries_path

     %p.navbar-text.pull-right
      -if user_signed_in?
       =current_user.name + ' / '
       =link_to "Выйти", destroy_user_session_path, method: :delete
      -else
       =link_to "Войти", new_user_session_path

  .container-fluid
   #wrapper.row-fluid
    #map-wrapper.well.span7
     #searchbox
     #map
      =yield :content

    #filters.well.span5
     -if notice || alert
      %p.notice= notice
      %p.alert= alert
     =yield :bar
