!!! 5
%html{:lang => "ru"}
 %head

  %meta{:'http-equiv' => "Content-Type", :content => "text/html", :charset => "utf-8"}
  %title= "CityStop | #{content_for(:title)}"

  = stylesheet_link_tag    "application-all", :media => "all"
  /[if lte IE 8]
   = stylesheet_link_tag    "application-ie", :media => "all"

  = javascript_include_tag "application"
  = csrf_meta_tags

 %body

  .navbar.navbar-fixed-top
   .navbar-inner
    .container-fluid
     %a.brand{ href: root_path } CityStop

     %ul#head-nav.nav
      %li#common-map.active
       %a{ href: "#!/map" } Карта
      %li#itineraries
       %a{ href: "#!/itineraries" } Мои маршруты

     %p.navbar-text.pull-right
      -if user_signed_in?
       %p= current_user.name
       = link_to "Выйти", destroy_user_session_path, method: :delete
      -else
       = link_to "Войти", new_user_session_path

  .container-fluid
   #wrapper.row-fluid
    #map-wrapper.well.span7
     #searchbox
     #map
      = yield :content

    #filters.well.span5
     %p.notice= notice
     %p.alert= alert
     = yield :bar
