!!! 5
%html{:lang => 'ru'}
 %head

  %meta{:'http-equiv' => "Content-Type", :content => "text/html", :charset => "utf-8"}
  %title= "CityStop | #{content_for(:title)}"
  = favicon_link_tag 'favicon.ico'

  = stylesheet_link_tag    'application', :media => 'all'
  /[if lte IE 9]
   = stylesheet_link_tag    'application-ie', :media => 'all'

  = javascript_include_tag 'application'
  = yield :head
  = csrf_meta_tags

 %body

  %nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
   .container
    =link_to root_path do
     =image_tag 'logo.png', size: '45x45', class: 'navbar-brand', id: 'logo'
    =link_to 'CityStop', root_path, class: 'navbar-brand'

    -if user_signed_in?
     %ul#head-nav.nav.navbar-nav
      %li{ class: is_active('home') }
       =link_to 'Общая карта', root_path
      %li{ class: is_active('itineraries') }
       =link_to 'Мои маршруты', user_root_path

    %p.navbar-text.pull-right
     -if user_signed_in?
      %span.glyphicon.glyphicon-user
      =current_user.name + ' / '
      =link_to 'Выйти', destroy_user_session_path, method: :delete
     -else
      =link_to 'Войти', new_user_session_path

  .container
   #wrapper.row-fluid
    -if controller_name == 'itineraries'
     #map-wrapper.well.col-sm-7
      #searchbox
      #map
       %p Here will be a <s>city</s> map!

     #filters.well.col-sm-5
      = render 'shared/flash'
      = yield :content

    -else
     #map-wrapper.well.col-sm-12
      .col-sm-6.col-sm-offset-3= render 'shared/flash'
      = yield :content
